<div id="fondo" class="container-fluid min-vh-100">
  <main>
    <!--**************************************MENU***************************************-->
    <div id="menu" class="col-12 col-lg-12 pr-0 pl-0 bg-light" style="background-color: transparent !important;">
      <app-menu></app-menu>
    </div>
    <div id="contenido" class="col-12 col-lg-12 row pt-5 m-0 p-0 overflow-hidden">
      <div class="col-10 col-lg-10 mt-2 ml-auto mr-auto row">
        <div class="card w-100">
          <div class="row no-gutters">
            <div class="col-sm-6">
              <div class="card-body">
                <img class="icon" src="../../../assets/img/icons/icon_post_png_940x788 px.png" alt="home gif"
                  width="400px">
                <h2 class="card-title ml-5" style="font-size: 80px">Wellcome</h2>
                <h3 class="card-text ml-5 mb-5">Gestiona tu tiempo de manera eficiente.</h3>
              </div>
            </div>
            <div class="col-sm-6">
              <img class="card-img" src="../../../assets/img/Work_from_home.jpg" alt="Suresh Dasari Card">
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="mt-5 bg-light">
    <app-footer></app-footer>
  </div>
</div>