<div id="fondo" class="container-fluid min-vh-100">
    <main>
        <!--**************************************MENU***************************************-->
        <div id="menu" class="col-12 col-lg-12 pr-0 pl-0 bg-light" style="background-color: transparent !important;">
            <app-menu></app-menu>
        </div>
        <div id="contenido" class="col-12 col-lg-12 row pt-5 m-0 p-0 overflow-hidden">

            <div class="col-9 col-lg-9 mt-2 ml-1 row">
                <div class="card w-100 whitebackgroundTrans">
                    <div class="row no-gutters">
                        <div class="col-sm-12">
                            <div class="card-body p-0">
                                <div>
                                    <input type="button" (click)="setCurrentMonth()" value="Hoy" />
                                </div>
                                <div class="wrapper-calendar m-0">
                                    <div class="header-calendar">
                                        <div>
                                            <button (click)="changeMonth(-1)" class="btn-prev redbackground"><i
                                                    class="fas fa-chevron-left"></i></button>
                                        </div>
                                        <h1 class="text-20">{{dateSelect | date:'MMMM, yyyy'}}</h1>
                                        <div>
                                            <button (click)="changeMonth(1)" class="btn-next redbackground"><i
                                                    class="fas fa-chevron-right"></i></button>
                                        </div>
                                    </div>
                                    <ol>
                                        <div *ngFor="let day of week" class="day-name p-2 day">{{day | slice:0:3}}</div>
                                        <div (click)="clickDay(day)"
                                            [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
                                            *ngFor="let day of monthSelect;let first = first"
                                            class="pt-3 pb-3 day tarjetica whitebackground">
                                            <span *ngIf="day.value==dateToday"
                                                class="redbackground rounded-circle p-2 "><a>{{day?.value}}</a></span>
                                            <span *ngIf="day.value!=dateToday" class=""><a>{{day?.value}}</a></span>
                                        </div>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 col-lg-3 row mt-2 ml-0">
                <div class="col-12 card whitebackgroundTrans">
                    <div *ngIf="dateValue!=null" class="background_transparent">
                        <div class="card-title p-3">
                            <label> Tareas de {{dateValue | date}}</label>
                        </div>
                        <ul class="list-group list-group-flush card-body whitebackground mt-5 p-0 overflow" *ngIf="hayVecDate()">
                            <li class="row example-box mt-1 ml-0 mr-0 pl-0 pr-0" (dblclick)="modalTarjeta(tar.id)"
                                *ngFor="let tar of tarjetas">
                                <label class="col-12 tarjeta tarjetaTitle">{{tar.nombre}}</label>
                                <label class="col-lg-12 col-md-12 label" *ngIf="tar.check_fin!=null">
                                    <input type="checkbox" id="check_fin" class="mr-2" value=""
                                        [(ngModel)]="tar.check_fin" readonly (click)="false" />
                                    <a
                                        *ngIf="tar.Fecha_fin!=null && tar.Fecha_fin!='' && tar.Fecha_inicio!=null && tar.Fecha_inicio!=''; else elseBlock">
                                        {{tar.Fecha_inicio}}
                                        {{tar.Time_inicio}} -
                                        {{tar.Fecha_fin}}
                                        {{tar.Time_fin}}
                                    </a>
                                    <ng-template #elseBlock>
                                        <a *ngIf="tar.Fecha_inicio!=null && tar.Fecha_inicio!=''">{{tar.Fecha_inicio}}
                                            {{tar.Time_inicio}} inicio </a>
                                        <a *ngIf="tar.Fecha_fin!=null && tar.Fecha_fin!=''"> {{tar.Fecha_fin}}
                                            {{tar.Time_fin}} fin </a>
                                    </ng-template>
                                </label>
                            </li>
                        </ul>
                        <ul class="list-group list-group-flush background_transparent" *ngIf="!hayVecDate()">
                            <li class="list-group-item">No tienes tareas pendientes</li>
                        </ul>
                    </div>
                    <div *ngIf="dateValue==null">
                        <div class="card-title p-3">
                             Tareas pendientes
                        </div>
                        <ul class="list-group list-group-flush card-body p-0 mt-5 overflow whitebackground" *ngIf="hayVec()">
                            <li class="row example-box mt-1 ml-0 mr-0 pl-0 pr-0" (dblclick)="modalTarjeta(tar.id)"
                                *ngFor="let tar of tarjetas">
                                <label class="col-12 tarjeta tarjetaTitle">{{tar.nombre}}</label>
                                <label class="col-lg-12 col-md-12 label" *ngIf="tar.check_fin!=null">
                                    <input type="checkbox" id="check_fin" class="mr-2" value=""
                                        [(ngModel)]="tar.check_fin" readonly (click)="false" />
                                    <a
                                        *ngIf="tar.Fecha_fin!=null && tar.Fecha_fin!='' && tar.Fecha_inicio!=null && tar.Fecha_inicio!=''; else elseBlock">
                                        {{tar.Fecha_inicio}}
                                        {{tar.Time_inicio}} -
                                        {{tar.Fecha_fin}}
                                        {{tar.Time_fin}}
                                    </a>
                                    <ng-template #elseBlock>
                                        <a *ngIf="tar.Fecha_inicio!=null && tar.Fecha_inicio!=''">{{tar.Fecha_inicio}}
                                            {{tar.Time_inicio}} inicio </a>
                                        <a *ngIf="tar.Fecha_fin!=null && tar.Fecha_fin!=''"> {{tar.Fecha_fin}}
                                            {{tar.Time_fin}} fin </a>
                                    </ng-template>
                                </label>
                            </li>
                        </ul>
                        <ul class="list-group list-group-flush background_transparent" *ngIf="!hayVec()">
                            <li class="list-group-item">No tienes tareas pendientes</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="mt-5 bg-light">
        <app-footer></app-footer>
    </div>
</div>