<div *ngIf="showBanner" class="super">
    <div class="modal-header mb-auto" style="border: none;">
        <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
            <i class="fas fa-times fa-sm"></i>
        </button>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer ml-auto mr-auto bottom-aligned row" style="border: none;">
        <!--
        <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="hosted_button_id" value="HGC5UYFFJSSG6" />
            <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif" name="submit"
                title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" src="https://www.paypal.com/es_ES/i/scr/pixel.gif" width="1" height="1" />
        </form>
        -->
    </div>
</div>