<div id="fondo" class="container-fluid min-vh-100">
    <main>
        <!--**************************************MENU***************************************-->
        <div id="menu" class="col-12 col-lg-12 pr-0 pl-0 bg-light" style="background-color: transparent !important;">
            <app-menu></app-menu>
        </div>
        <div id="contenido" class="col-8 col-lg-8 row pt-5 m-0 ml-auto mr-auto p-0 overflow-hidden">
            <div class="col-12 col-lg-12 mt-2  ml-1 row">
                <div class="card w-100">
                    <div class="row no-gutters">
                        <div class="col-sm-6 mt-1 p-2">
                            <div class="text-center">
                                <h1>Sobre nosotros</h1>
                            </div>
                            <div class="card-body row">
                                <h3>Bibliografia</h3>
                                <div>
                                    <a href='https://www.paypal.com/donate?hosted_button_id=HGC5UYFFJSSG6'>paypal</a><br>
                                    <a href='https://crello.com/es/home/'>crello</a><br>
                                    <a href='https://media.giphy.com/media/LG1ZZP1Go0D8j7YsWy/giphy.gif'>giphy</a><br>
                                    <a href='https://www.freepik.es/vectores/negocios'>Vector de Negocios creado por
                                        jcomp - www.freepik.es</a><br>
                                    <a href='https://www.freepik.es/vectores/fondo'>Vector de Fondo creado por
                                        iconicbestiary - www.freepik.es</a><br>
                                    <a href='https://www.freepik.es/vectores/fondo'>Vector de Fondo creado por
                                        iconicbestiary - www.freepik.es</a><br>
                                    <a href='https://www.freepik.es/vectores/negocios'>Vector de Negocios creado por
                                        jcomp - www.freepik.es</a><br>

                                    <p>Author: Hege Refsnes <a href="mailto:hege@example.com">hege@example.com</a></p><br>
                                </div>

                            </div>

                        </div>
                        <div class="col-sm-6">
                            <img class="card-img mt-5" src="../../../assets/img/us.png" width="300px"
                                alt="Suresh Dasari Card">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="mt-5 bg-light">
        <app-footer></app-footer>
    </div>
</div>