<div id="fondo" class="container-fluid min-vh-100">
    <main>
      <!--**************************************MENU***************************************-->
      <div id="menu" class="col-12 col-lg-12 pr-0 pl-0 bg-light" style="background-color: transparent !important;">
        <app-menu></app-menu>
      </div>
      <div id="contenido" class="col-12 col-lg-12 row pt-5 m-0 p-0 overflow-hidden">
        <div class="col-3 col-lg-3 row mt-5 ml-3">
          <div class="col-12">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Tareas pendientes 1 20:00</li>
              <li class="list-group-item">Tareas pendientes 2 20:30</li>
              <li class="list-group-item">Tareas pendientes 3 21:00</li>
            </ul>
          </div>
        </div>
        <div class="col-10 col-lg-9 mt-2 ml-1 row">
          <div class="card w-100">
            <div class="row no-gutters">
              <div class="col-sm-6">
                <div class="card-body">
                    <li class="list-group-item">asdffasdfasfd asdfasdd fadsfa</li>
                    <li class="list-group-item">asdfasdf asdfasdf asdfasdfasdf</li>
                    <li class="list-group-item">asdfasdf adsfasdf asdfasf </li>
                    <li class="list-group-item">asdfasdf adf asdfaefafsdeeff ee </li>
                </div>
              </div>
              <div class="col-sm-6"></div>
            </div>
          </div>
        </div>
      </div>
    </main>
  
    <div class="mt-5 bg-light">
      <app-footer></app-footer>
    </div>
  </div>