<div id="fondo2" class="container-fluid bg-secondary min-vh-100">
    <main>
        <div class="col-11 col-md-9 col-lg-5 mx-auto" style="padding-top: 3%;">
            <div class="card shadow">
                <img class="d-block mx-auto mt-2" src="../../../assets/img/icons/icon_post_png_940x788 px.png" alt="logo" width="200px">
                <div class="card-body px-5">
                    <form id="form-login" [formGroup]="nuevoLogin" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label lang="en" for="email" class="form-label">Email: </label>
                            <input type="email" class="form-control" formControlName="email" id="email">
                            <div class="error" *ngIf="(submitted || formulario.email.touched) && formulario.email.errors">
                                <div *ngIf="formulario.email.errors.required">Este campo es obligatorio</div>
                                <div *ngIf="formulario.email.errors.email">Introduce un email valido</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña: </label>
                            <input type="password" class="form-control" formControlName="password" id="password">
                            <div class="error" *ngIf="(submitted || formulario.password.touched) && formulario.password.errors">
                                <div *ngIf="formulario.password.errors.required">Este campo es obligatorio</div>
                            </div>
                        </div>
                        <div class="mt-1">{{message}}</div>
                        <p><a href="/req">¿Has olvidado la contraseña?</a></p>
                        <div class="row">
                            <div class="col-12 col-md-9 col-lg-7">
                                <button type="submit" class="btn btn-primary w-50">Entrar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer px-5" style="text-align: center;">
                    <p class="text-dark">¿Todavía no tienes cuenta? <a href="/#/registro" class="text-dark"><u>Registrate aquí</u></a></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 pr-0 pl-0 bg-light">
            <app-footer></app-footer>
        </div>
    </main>
</div>